[Unit]
Description=Node Exporter Metrics
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ user.name }}
Group={{ group.name }}
ExecStart=/opt/node_exporter-{{ version }}.linux-arm64/node_exporter

[Install]
WantedBy=multi-user.target